* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    text-rendering: optimizeLegibility;
    font-family: 'Lato';
}
body {
    box-sizing: border-box;
    font-size: 1.1rem;
    background: #ffffff;
    color: black;
    transition: all .5s linear;
}
.main {
    text-align: center;
    padding: 2em;
}
.main textarea {
    resize: none;
    height: 400px;
    width: 300px;
    padding: 1em;
}
#warn {
    display: none;
}
body.dark {
    background: black;
    color: #ffffff;
    transition: all .5s linear;
}
.btn-tog {
	padding: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.btn-tog:focus {
	background: rgb(0,217,255);
	outline: none;
}
